/dts-v1/;

#include "varsom-1316.dtsi"

/ {
	model = "DataSoft Radio Access Point (RAP)";
	compatible = "fsl,imx6ull-var-dart", "fsl,imx6ull";

	aliases {
		rtc0 = &snvs_rtc;
	};

	rfmute {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rfmute>;
		red {
			label = "red";
			gpios = <&gpio4 11 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		green {
			label = "green";
			gpios = <&gpio4 16 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		blue {
			label = "blue";
			gpios = <&gpio4 14 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	ctrlzero {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctrl_zero>;
		red2 {
			label = "red2";
			gpios = <&gpio3 21 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		green2 {
			label = "green2";
			gpios = <&gpio3 23 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		blue2 {
			label = "blue2";
			gpios = <&gpio3 22 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&iomuxc_snvs {
	pinctrl-names = "default_snvs";
	pinctrl-0 = <&pinctrl_hog_2>;
	varsom-1189 {
		pinctrl_hog_2: hoggrp-2 {
			fsl,pins = <
				MX6ULL_PAD_SNVS_TAMPER0__GPIO5_IO00	0x1b0b0
				MX6ULL_PAD_SNVS_TAMPER4__GPIO5_IO04	0x1b0b0	/* BT Enable */
				MX6ULL_PAD_SNVS_TAMPER6__GPIO5_IO06	0x03029	/* WLAN enable */
			>;
		};

		pinctrl_cpld_snvs: cpldsnvsgrp {
			fsl,pins = <
				MX6ULL_PAD_SNVS_TAMPER8__GPIO5_IO08	0xb0b0	/* GPIO_MCU_CPLD_SP3: 136 */
				MX6ULL_PAD_SNVS_TAMPER7__GPIO5_IO07	0xb0b0	/* GPIO_MCU_ZEROIZE: 135 */
				MX6ULL_PAD_SNVS_TAMPER5__GPIO5_IO05	0xb0b0	/* GPIO_RAP_ACTIVE: 133 */
				MX6ULL_PAD_SNVS_TAMPER3__GPIO5_IO03	0xb0b0	/* GPIO_SRAM_STATUS: 131 */
			>;
		};
	};
};

&iomuxc {
	varsom-1189 {

		pinctrl_ecspi1_cs_1: ecspi1_cs_grp-1 {
			fsl,pins = <
				MX6UL_PAD_LCD_DATA05__GPIO3_IO10	0x1b0b0
			>;
		};

		pinctrl_ecspi1_1: ecspi1grp-1 {
			fsl,pins = <
				MX6UL_PAD_LCD_DATA20__ECSPI1_SCLK	0x10b0
				MX6UL_PAD_LCD_DATA22__ECSPI1_MOSI	0x10b0
				MX6UL_PAD_LCD_DATA23__ECSPI1_MISO	0x10b0
			>;
		};

		pinctrl_cpld: cpldgrp {
			fsl,pins = <
				MX6UL_PAD_CSI_DATA03__GPIO4_IO24	0x1b0b0	/* GPIO_MCU_CPLD_SP0: 120 */
				MX6UL_PAD_CSI_DATA02__GPIO4_IO23	0x1b0b0	/* GPIO_MCU_CPLD_SP1: 119*/
				MX6UL_PAD_CSI_HSYNC__GPIO4_IO20		0x1b0b0	/* GPIO_MCU_CPLD_SP2: 116 */
				MX6UL_PAD_CSI_PIXCLK__GPIO4_IO18	0x1b0b0	/* GPIO_MCU_CPLD_INITn: 114*/
			>;
		};

		pinctrl_rfmute: rfmutegrp {
			fsl,pins = <
				MX6UL_PAD_LCD_HSYNC__GPIO3_IO02		0xb0    /* GPIO_PB_RF_MUTEN: 66 */
				MX6UL_PAD_NAND_WP_B__GPIO4_IO11		0x1b0b0 /* GPIO_RF_MUTE_STAT_RED_LEDN: 107 */
				MX6UL_PAD_NAND_DQS__GPIO4_IO16		0x1b0b0 /* GPIO_RF_MUTE_STAT_GRN_LEDN: 112*/
				MX6UL_PAD_NAND_CE1_B__GPIO4_IO14	0x1b0b0 /* GPIO_RF_MUTE_STAT_BLU_LEDN: 110*/
			>;
		};

		pinctrl_ctrl_zero: ctrlzerogrp {
			fsl,pins = <
				MX6UL_PAD_LCD_DATA19__GPIO3_IO24	0xb0    /* GPIO_PB_CTRL_ZERON: 88 */
				MX6UL_PAD_LCD_DATA16__GPIO3_IO21	0x1b0b0 /* GPIO_CTRL_ZERO_RED_LEDN: 85 */
				MX6UL_PAD_LCD_DATA18__GPIO3_IO23	0x1b0b0 /* GPIO_CTRL_ZERO_GRN_LEDN: 87 */
				MX6UL_PAD_LCD_DATA17__GPIO3_IO22	0x1b0b0 /* GPIO_CTRL_ZERO_BLU_LEDN: 86 */
			>;
		};
	};
};

&ecspi1 {
	cs-gpios = <&gpio3 10 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1_1 &pinctrl_ecspi1_cs_1>;
	status = "okay";

	spidev0: spidev@0 {
		compatible = "spidev";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_cpld &pinctrl_cpld_snvs>;
		spi-max-frequency = <1000000>;
		reg = <0>;
	};
};

&snvs_rtc {
	status = "okay";
};

